# Core
streamlit==1.19.0

# Data processing
numpy==1.24.2
pandas==3.0.0
scipy==1.17.0
scikit-learn==1.8.0
xgboost==3.2.0

# Visualization
matplotlib==3.10.8
seaborn==0.13.2
altair==4.2.2

# Utilities
joblib==1.5.3
pillow==12.1.1
requests==2.32.5
